.default-site-main-div {
    height: 100%;
    min-height: 100vh;
    background-color: #284052;
}

h1.word-game {
    font-size: 1.4em;
    color: white;
}

p.word-game {
    text-align: center;
    color: white;
}

.wordGameRow {
    text-align: center;
    display: flex;
    justify-content: center;
}

.wordGameRow>div {
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid #bbb;
    margin: 4px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
}

.wordGameRow.current>div.filled {
    animation: bounce 0.2s ease-in-out forwards;
}

.wordGameRow>div.green {
    --background: #5ac85a;
    --border-color: #5ac85a;
    animation: flip 0.5s ease forwards;
}

.wordGameRow>div.grey {
    --background: #a1a1a1;
    --border-color: #a1a1a1;
    animation: flip 0.6s ease forwards;
}

.wordGameRow>div.yellow {
    --background: #e2cc68;
    --border-color: #e2cc68;
    animation: flip 0.5s ease forwards;
}

.wordGameRow>div:nth-child(2) {
    animation-delay: 0.2s;
}

.wordGameRow>div:nth-child(3) {
    animation-delay: 0.4s;
}

.wordGameRow>div:nth-child(4) {
    animation-delay: 0.6s;
}

.wordGameRow>div:nth-child(5) {
    animation-delay: 0.8s;
}

/* keyframe animations */
@keyframes flip {
    0% {
        transform: rotateX(0);
        background: #fff;
        border-color: #333;
    }

    45% {
        transform: rotateX(90deg);
        background: white;
        border-color: #333;
    }

    55% {
        transform: rotateX(90deg);
        background: var(--background);
        border-color: var(--border-color);
    }

    100% {
        transform: rotateX(0deg);
        background: var(--background);
        border-color: var(--border-color);
        color: #eee;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
        border-color: #ddd;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        /* border-color: #333; */
        border: 1px solid #bbb;
    }
}

.keypad {
    max-width: 100%;
    margin: 5px auto;
    padding-top: 2px;
    text-align: center;
}

.keypad>div {
    margin: 3px;
    width: 30px;
    height: 50px;
    background: lightgrey;
    display: inline-block;
    border-radius: 6px;
    line-height: 50px;
    text-align: center;
    color: black;

    /* Make letters not highlightable and more like buttons */
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.keypad>div.green {
    background: #5ac85a;
    color: #fff;
    transition: all 0.3s ease-in;
}

.keypad>div.yellow {
    background: #e2cc68;
    color: black;
    transition: all 0.3s ease-in;
}

.keypad>div.grey {
    background: rgb(113, 112, 112);
    color: white;
    transition: all 0.3s ease-in;
}